<header class="center">
    <p class="category">
    </p>

    <div class='story'>
    <h1 style='font-family:tiempos'>Who votes at UC Berkeley?</h1>
    </div>
    <p class="subhead" style='font-family:tiempos'>Comparing voting rates</p>
    <div class="info">
        <p>
            By <span class="byline"><a href="https://www.dailycal.org/author/alexzhao/" target="_blank">Alex Zhao</a>
            </span> <br /> <span class="timestamp"> <time datetime="2020-07-24T08:00-0800">October 30, 2020</time></span>
            </br>
            </br>
        </p>
    </div>
</header>
