<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<center>Voting rates by discipline (2016 and 2018 elections)</center>
<div id="lollipop"></div>
<script>

// set the dimensions and margins of the graph
var margin = {top: 20, right: 30, bottom: 30, left: 315},
    width = 800 - margin.left - margin.right,
    height = 1200 - margin.top - margin.bottom;

// append the svg_majors object to the body of the page
var svg_majors = d3.select("#lollipop")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Parse the Data
d3.csv("majors.csv", function(data) {
  // Add X axis
  var x = d3.scaleLinear()
    .domain([0, 100])
    .range([ 0, width]);
  svg_majors.append("g")
    .attr("transform", "translate(0," + height + ")")
    .style("font-family", "benton-sans")
    .style("font-size", "12")
    .call(d3.axisBottom(x))

  // Y axis
  var y = d3.scaleBand()
    .range([ 0, height ])
    .domain(data.map(function(d) { return d.group; }))
    .padding(1);
  svg_majors.append("g")
    .attr("class", "yaxis")
    .style("font-family", "benton-sans")
    .style("font-size", "13.5")
    .call(d3.axisLeft(y))

  // Lines
  svg_majors.selectAll("myline")
    .data(data)
    .enter()
    .append("line")
      .attr("x1", function(d) { return x(d.value1); })
      .attr("x2", function(d) { return x(d.value2); })
      .attr("y1", function(d) { return y(d.group); })
      .attr("y2", function(d) { return y(d.group); })
      .attr("stroke", "grey")
      .attr("stroke-width", "1px")

  // Circles of variable 1
  svg_majors.selectAll("mycircle")
    .data(data)
    .enter()
    .append("circle")
      .attr("cx", function(d) { return x(d.value1); })
      .attr("cy", function(d) { return y(d.group); })
      .attr("r", "4")
      .style("fill", "#69b3a2")

  // Circles of variable 2
  svg_majors.selectAll("mycircle")
    .data(data)
    .enter()
    .append("circle")
      .attr("cx", function(d) { return x(d.value2); })
      .attr("cy", function(d) { return y(d.group); })
      .attr("r", "4")
      .style("fill", "#4C4082")

  svg_majors.append("g")
    .selectAll("text")
    .data(data)
    .enter().append("text")
      .attr("x", function(d) { return x(d.value1) - 50; })
      .attr("y", function(d) { return y(d.group); })
      .attr("dy", 6)
      .style("font-family", "benton-sans")
      .style("font-size", "13")
      .style("fill", "#6a6a6a")
    .text(function(d) { return d.value1.toString() + "%" })

  svg_majors.append("g")
    .selectAll("text")
    .data(data)
    .enter().append("text")
      .attr("x", function(d) { return x(d.value2) + 17; })
      .attr("y", function(d) { return y(d.group); })
      .attr("dy", 6)
      .style("font-family", "benton-sans")
      .style("font-size", "13")
      .style("fill", "#6a6a6a")
    .text(function(d) { return d.value2.toString() + "%" })

  var colors = d3.scaleOrdinal().domain(['Voting rate', 'Registration rate']).range(["#69b3a2", "#4C4082"]);

  var legend = svg_majors.append("g")
      .style("font-family", "benton-sans")
      .style("font-size", 16)
      .style("font-size", 16)
      .attr("text-anchor", "start")
      .attr('transform', "translate(-50,0)")
    .selectAll("g")
    .data(["Registration rate", "Voting rate"])
  .enter().append("g")
     .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(" + i * 200 + ",-10)"; });

legend.append("circle")
    .attr("cx", 10)
    .attr("cy", 8)
    .attr("r", 8)
    .attr("opacity", 0.8)
  .style("fill", function(d) { return colors(d); });

legend.append("text")
    .data(["Voting rate in 2016", "Voting rate in 2018"])
    .attr("x", 30)
    .attr("y", 9)
    .attr("dy", "0.32em")
    .text(function(d) { return d; });

svg_majors.selectAll("myrect")
    .data(data)
    .enter()
    .append("rect")
      .attr("x", 0)
    .attr("y", function(d) { return y(d.group) - 22.5; })
      .attr("width", width)
      .attr("height", 45)
      .attr("fill", "white")
      .style("opacity", 0)
      .attr("stroke", "grey")
      .attr("stroke-width", "1px")
      .on("mouseover", function(d) {
            showLabel(d);
          })
      .on("mousemove", moveLabel)
    .on("mouseout", function(d) { hideLabel(d); })


})

    function showLabel(d) {
     d3.selectAll('.yaxis').selectAll('.tick>text').each(function(d1, i) {
       d3.select(this)
         .style('fill', '#d3d3d3')
       })

     d3.selectAll('.tick>text').each(function(d1, i) {
      if (d1 == d.group) {
       d3.select(this)
         .style('fill', 'black')
       }
     })
    }

    function moveLabel() {
      var coords = [d3.event.pageX, d3.event.pageY];

      var top = coords[1] + 30,
          left = coords[0] - 50;
    }

    function hideLabel(d) {
     d3.selectAll('.tick>text').transition().each(function(d1, i) {
       d3.select(this)
         .style('fill', 'black').transition().duration(1000)
     })
    }
</script>
