<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<center>Voting and registration rates at UC campuses (2016 election)</center>
<div id="lollipop2"></div>
<script>

// set the dimensions and margins of the graph
var margin = {top: 0, right: 50, bottom: 30, left: 150},
    width2 = 700 - margin.left - margin.right,
    height2 = 800 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#lollipop2")
  .append("svg")
    .attr("width", width2 + margin.left + margin.right)
    .attr("height", height2 + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");

// Parse the Data
//d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_cleveland.csv", function(data) {
d3.csv("schools.csv", function(data) {
  // Add X axis
  var x = d3.scaleLinear()
    .domain([0, 100])
    .range([ 0, width2]);
  svg.append("g")
    .attr("transform", "translate(0," + height2 + ")")
    .style("font-family", "benton-sans")
    .style("font-size", "12")
    .call(d3.axisBottom(x))

  // Y axis
  var y = d3.scaleBand()
    .range([ 0, height2 ])
    .domain(data.map(function(d) { return d.group; }))
    .padding(1);
  svg.append("g")
    .attr("class", "yaxis")
    .style("font-family", "benton-sans")
    .style("font-size", "16")
    .call(d3.axisLeft(y))

  // Lines
  svg.selectAll("myline")
    .data(data)
    .enter()
    .append("line")
      .attr("x1", function(d) { return x(d.value1); })
      .attr("x2", function(d) { return x(d.value2); })
      .attr("y1", function(d) { return y(d.group); })
      .attr("y2", function(d) { return y(d.group); })
      .attr("stroke", "grey")
      .attr("stroke-width", "1px")

  svg.append("g")
    .selectAll("text")
    .data(data)
    .enter().append("text")
      .attr("x", function(d) { return x(d.value1) - 50; })
      .attr("y", function(d) { return y(d.group); })
      .attr("dy", 6)
      .attr("class", function(d) { return d.group.replace(/\s+/g,''); })
      .style("font-family", "benton-sans")
      .style("font-size", "14")
      .style("fill", "#6a6a6a")
    .text(function(d) { return d.value1.toString() + "%" })

  svg.append("g")
    .selectAll("text")
    .data(data)
    .enter().append("text")
      .attr("x", function(d) { return x(d.value2) + 10; })
      .attr("y", function(d) { return y(d.group); })
      .attr("dy", 6)
      .attr("class", function(d) { return d.group.replace(/\s+/g,''); })
      .style("font-family", "benton-sans")
      .style("font-size", "14")
      .style("fill", "#6a6a6a")
    .text(function(d) { return d.value2.toString() + "%" })

  // Circles of variable 1
  svg.selectAll("mycircle")
    .data(data)
    .enter()
    .append("circle")
      .attr("cx", function(d) { return x(d.value1); })
      .attr("cy", function(d) { return y(d.group); })
      .attr("r", "6")
      .attr("class", function(d) { return d.group.replace(/\s+/g,''); })
      .style("fill", "#ffa500")

  // Circles of variable 2
  svg.selectAll("mycircle")
    .data(data)
    .enter()
    .append("circle")
      .attr("cx", function(d) { return x(d.value2); })
      .attr("cy", function(d) { return y(d.group); })
      .attr("r", "6")
      .attr("class", function(d) { return d.group.replace(/\s+/g,''); })
      .style("fill", "#479bd1")

  var colors = d3.scaleOrdinal().domain(['Voting rate', 'Registration rate']).range(["#479BD1", "#ffa500"]);

  var legend = svg.append("g")
      .style("font-family", "benton-sans")
      .style("font-size", 16)
      .style("font-size", 16)
      .attr("text-anchor", "start")
      .attr('transform', "translate(50,20)")
    .selectAll("g")
    .data(["Registration rate", "Voting rate"])
  .enter().append("g")
     .attr("class", "legend")
    .attr("transform", function(d, i) { return "translate(" + i * 120 + ",0)"; });

legend.append("rect")
    .attr("x", 10)
    .attr("width", 16)
    .attr("height", 16)
    .attr("opacity", 0.8)
  .style("fill", function(d) { return colors(d); });

legend.append("text")
    .data(["Voting rate", "Registration rate"])
    .attr("x", 30)
    .attr("y", 9)
    .attr("dy", "0.32em")
    .text(function(d) { return d; });

  svg.selectAll("myrect")
    .data(data)
    .enter()
    .append("rect")
      .attr("x", 0)
    .attr("y", function(d) { return y(d.group) - 20; })
      .attr("width", width2)
      .attr("height", 40)
      .attr("fill", "white")
      .style("opacity", 0)
      .attr("stroke", "grey")
      .attr("stroke-width", "1px")
      .on("mouseover", function(d) {
            showLabel(d);
          })
      .on("mousemove", moveLabel)
    .on("mouseout", function(d) { hideLabel(d); })

})

    function showLabel(d) {
     d3.selectAll('.yaxis').selectAll('.tick>text').each(function(d1, i) {
       d3.select(this)
         .style('fill', '#d3d3d3')
       })

     d3.selectAll('.tick>text').each(function(d1, i) {
       console.log(d.group);
       console.log(d1)
      if (d1 == d.group) {
       console.log('here')
       d3.select(this)
         .style('fill', 'black')
       }
     })
    }

    function moveLabel() {
      var coords = [d3.event.pageX, d3.event.pageY];

      var top = coords[1] + 30,
          left = coords[0] - 50;
    }

    function hideLabel(d) {
     d3.selectAll('.tick>text').transition().each(function(d1, i) {
       d3.select(this)
         .style('fill', 'black').transition().duration(1000)
     })
    }


</script>
